<!DOCTYPE html>

<%- include('./partials/head.ejs')%>

<body>
  <%- include('./partials/nav.ejs')%>

  <div class="about content">
    <h2><%= title %></h2>
    <p>Loves dogs</p>
    <p>And sports!</p>
    <p>And Code!</p>
  </div>
</body>
</html>