<!DOCTYPE html>

 <%- include('./partials/head.ejs')%>

<body>
  <%- include('./partials/nav.ejs')%>

  <div class="blogs content">
    <h2>Oops</h2>
    <p>Page not found 😢</p>
  </div>
  <%- include('./partials/footer.ejs')%>

</body>
</html>